{% extends "dashboard/base_modal_large.html" %}

{% load i18n %}

{% block action_url %}
  {% url "dashboard:product-add-select-type" %}
{% endblock %}

{% block title %}
  {% trans "Create page" context "Modal select product types title" %}
{% endblock %}

{% block content %}
  <div class="tab-content-template">
    <div id="product_content_id" class="product_content">
      <canvas id="c" />
    </div>
    <div class="sidebar-right">
      <div class="image-item">
        <img style="width: 100%;"  src="https://image2.tienphong.vn/w665/Uploaded/2018/pcgycivo/2018_05_24/1_dhtp.jpg">
      </div>

      <div class="image-item">
        <img style="width: 100%;"  src="https://images.pexels.com/photos/46974/muscari-common-grape-hyacinth-blossom-bloom-46974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      </div>

      <div class="image-item">
        <img style="width: 100%;"  src="https://images.pexels.com/photos/9611/flowers.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      </div>

      <div class="image-item">
        <img style="width: 100%;"  src="https://images.pexels.com/photos/77172/pexels-photo-77172.jpeg?cs=srgb&dl=blooming-blossom-close-up-77172.jpg&fm=jpg">
      </div>

      <div class="image-item">
        <img style="width: 100%;"  src="https://images.pexels.com/photos/46192/rose-the-wild-flower-powder-46192.jpeg?cs=srgb&dl=bloom-blossom-flora-46192.jpg&fm=jpg">
      </div>
    </div>
  </div>
  <div style="padding: 10px 0px;">
    <div class="btn-group" role="group" aria-label="...">
        <button id="btn-left-id" type="button" class="btn btn-primary">
            <i class="fa fa-align-left"></i>
        </button>
        <button id="btn-center-id" type="button" class="btn btn-primary">
            <i class="fa fa-align-center"></i>
        </button>
        <button id="btn-right-id" type="button" class="btn btn-primary">
            <i class="fa fa-align-right"></i>
        </button>
        <button id="btn-justify-id" type="button" class="btn btn-primary">
            <i class="fa fa-align-justify"></i>
        </button>
        <button id="bold-id" type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-bold"></i>
        </button>
        <button id="italic-id" type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-italic"></i>
        </button>
        <button id="underline-id" type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-underline"></i>
        </button>
        <button id="add-text-id" type="button" class="btn btn-primary">
            <i class="fa fa-plus"></i>
        </button>
        <button id="remove-text-id" type="button" class="btn btn-primary">
            <i class="fa fa-minus"></i>
        </button>
    </div>
  </div>
  <div style="padding: 10px 0px; display: flex; flex-direction: row; align-items: center;">
      <div style="width: 20%;">
          <div>Font family</div>
          <select class="form-control">
            <option value="arial">Arial</option>
            <option value="helvetica" selected>Helvetica</option>
            <option value="verdana">Verdana</option>
            <option value="courier">Courier</option>
            <option value="Roboto">Roboto</option>
            <option value="Open Sans">Open Sans</option>
            <option value="Zilla Slab">Zilla Slab</option>
            <option value="Lato">Lato</option>
            <option value="Bellefair">Bellefair</option>
            <option value="Fresca">Fresca</option>
            <option value="Raleway">Raleway</option>
            <option value="Open Sans Condensed">Open Sans Condensed</option>
            <option value="Indie Flower">Indie Flower</option>
            <option value="Josefin Sans">Josefin Sans</option>
            <option value="Inconsolata">Inconsolata</option>
            <option value="Pacifico">Pacifico</option>
            <option value="Gloria Hallelujah">Gloria Hallelujah</option>
        </select>
      </div>
      <div style="width: 20%; margin-left: 20px;">
          <div>Fill</div>
          <div style="position: relative; margin: 0px;">
            <input type="color" id="fill" name="fill" value="#000">
          </div>
      </div>
      <div style="width: 20%; margin-left: 20px;">
          <div>Font size</div>
          <div style="position: relative; margin: 10px 0px;">
            <input type="range" step="1" min="1" max="120">
          </div>
      </div>

      <div style="width: 20%; margin-left: 20px;">
          <div>Line height</div>
          <div style="position: relative; margin: 10px 0px;">
            <input type="range" step="0.1" min="0" max="10">
          </div>
      </div>

      <div style="width: 20%; margin-left: 20px;">
          <div>Char spacing</div>
          <div style="position: relative; margin: 10px 0px;">
            <input type="range" step="10" min="-200" max="800">
          </div>
      </div>

  </div>
{% endblock %}

{% block primary_action %}
  {% trans "Create" context "Dashboard add action" %}
{% endblock %}
